body {
    background-color: rgba(33, 221, 90, 0.3);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

nav {
    background-color: #1c1c1c;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #21dd5a;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #21dd5a;
    color: white;
}

section {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #1c1c1c;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
}

footer {
    color: #333;
    text-align: center;
    padding: 15px 0;
    background-color: #1c1c1c;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive Layout */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    img {
        width: 150px;
    }

    section {
        margin: 10px;
        padding: 15px;
    }
}
